html, body {
  background-color: #3c3c3c;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 3em;
  margin: 20px;
}

.container {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

.color {
  position: absolute;
  width: 49%;
  height: 49%;
}

.green {
  background: rgba(0,69,0,1);
  background: -moz-linear-gradient(-45deg, rgba(0,69,0,1) 0%, rgba(0,156,0,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,69,0,1)), color-stop(100%, rgba(0,156,0,1)));
  background: -webkit-linear-gradient(-45deg, rgba(0,69,0,1) 0%, rgba(0,156,0,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(0,69,0,1) 0%, rgba(0,156,0,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(0,69,0,1) 0%, rgba(0,156,0,1) 100%);
  background: linear-gradient(135deg, rgba(0,69,0,1) 0%, rgba(0,156,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004500', endColorstr='#009c00', GradientType=1 );
  top: 0;
  left: 0;
  border-radius: 100% 0 0 0;
}

.green:active {
  background: #3db500;
}

.red {
  background: rgba(230,0,0,1);
  background: -moz-linear-gradient(45deg, rgba(230,0,0,1) 0%, rgba(107,1,1,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(230,0,0,1)), color-stop(100%, rgba(107,1,1,1)));
  background: -webkit-linear-gradient(45deg, rgba(230,0,0,1) 0%, rgba(107,1,1,1) 100%);
  background: -o-linear-gradient(45deg, rgba(230,0,0,1) 0%, rgba(107,1,1,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(230,0,0,1) 0%, rgba(107,1,1,1) 100%);
  background: linear-gradient(45deg, rgba(230,0,0,1) 0%, rgba(107,1,1,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e60000', endColorstr='#6b0101', GradientType=1 );
  top: 0;
  right: 0;
  border-radius: 0 100% 0 0;
}

.red:active {
  background: red;
}

.yellow {
  background: rgba(179,131,20,1);
  background: -moz-linear-gradient(45deg, rgba(179,131,20,1) 0%, rgba(255,205,5,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(179,131,20,1)), color-stop(100%, rgba(255,205,5,1)));
  background: -webkit-linear-gradient(45deg, rgba(179,131,20,1) 0%, rgba(255,205,5,1) 100%);
  background: -o-linear-gradient(45deg, rgba(179,131,20,1) 0%, rgba(255,205,5,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(179,131,20,1) 0%, rgba(255,205,5,1) 100%);
  background: linear-gradient(45deg, rgba(179,131,20,1) 0%, rgba(255,205,5,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b38314', endColorstr='#ffcd05', GradientType=1 );
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 100%;
}

.yellow:active {
  background: #ffdf09;
}

.blue {
  background: rgba(5,97,255,1);
  background: -moz-linear-gradient(-45deg, rgba(5,97,255,1) 0%, rgba(0,22,133,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(5,97,255,1)), color-stop(100%, rgba(0,22,133,1)));
  background: -webkit-linear-gradient(-45deg, rgba(5,97,255,1) 0%, rgba(0,22,133,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(5,97,255,1) 0%, rgba(0,22,133,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(5,97,255,1) 0%, rgba(0,22,133,1) 100%);
  background: linear-gradient(135deg, rgba(5,97,255,1) 0%, rgba(0,22,133,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0561ff', endColorstr='#001685', GradientType=1 );
  bottom: 0;
  right: 0;
  border-radius: 0 0 100% 0;
}

.blue:active {
  background: #0075ff
}

.control-box {
  width: 35%;
  height: 35%;
  background-color: darkgrey;
  position: absolute;
  top: 32.5%;
  left: 32.5%;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.counter {
  width: 30%;
  height: 30%;
  background-color: #3c3c3c;
  position: relative;
  left: 35%;
  top: -8%;

}

.counter:after {
  content: 'counter';
  position: relative;
  top: 100%;
  left: 10%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: .8em;
}
